HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.attach_pid5279
/.attach_pid5411
/.attach_pid6566
/1613283421803_1_teste.jpg
/1613283509851_1_teste.jpg
/1613283969719_1_teste.jpg
/1613284334567_2_jose_vicosa.jpg
